
<confirmation-dialog
  *ngIf='isDeleteModalShowed$ | async'
  (decline)="closeDeleteModal()"
  (confirm)="confirmDeleteAction()"
  title="Do you really want to delete this cource?"></confirmation-dialog>
<div  class="cource-list">
  <div class="container">
    <cource-search (onSearch)="searchCources($event)" ></cource-search>
    <button class="btn cource-list__add-cource" (click)="addCource()" >Add cource</button>
    <div *ngIf="isCourceListEmpty$ | async ; then cources else emptyCources"></div>
    <ng-template #cources>
      <cource (deleteCource)="onDeleteCource($event)"  *ngFor="let cource of courcesList$ | async; trackBy: trackById" [cource]="cource">
      </cource>
      <div class="cource-list__more">
          <a href="javascript: void(0);" (click)="loadMore()" class="cource-list__more-link">{{pagingText}}</a>
      </div>
    </ng-template>
    <ng-template #emptyCources>
      <div class="cource-list__empty">
          no data. feel free to add new cource
      </div>
    </ng-template>
  </div>
</div>
