<div [appCourceHighlight] ='cource!.creationDate' [ngClass]="cource?.istopRate ? 'cource_topRated' : '' " class="cource">
  <div class="cource__data">
    <div class="cource__title">
      <div class="cource__header">
        <h2>{{cource?.title}}</h2>
        <img *ngIf="cource?.istopRate" class="cource__rate" src="../../../assets/icons/star.svg" alt="star">
      </div>
      <div class="cource__date-info">
        <div class="cource__duration">{{cource?.duration}}</div>
        <div class="cource__date">{{cource?.creationDate}}</div>
      </div>
    </div>
    <div class="cource__descr">{{cource?.description}}</div>
  </div>
  <div class="cource__actions">
    <button class="btn btn__simple">Edit</button>
    <button class="btn btn__simple" (click)="delete(cource?.id)">Delete</button>
  </div>
</div>
