.cource{
  display: flex;
  justify-content: space-between;
  padding: 35px 25px;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  &_topRated{
    background-color:rgba(221, 250, 204, 0.959)
  }
  &__data{
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__date-info{
    width: 255px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
  }
  &__descr{
    padding-top: 10px;
  }
  &__duration{
    display: flex;
    align-items: center;
    &::before{
      content: url('../../../assets/icons/clock.svg');
      width: 20px;
      margin-right: 5px;
    }
  }
  &__date{
    display: flex;
    align-items: center;
    &::before{
      content: url('../../../assets/icons/date.svg');
      width: 20px;
      margin-right: 5px;
    }
  }
  &__rate{
    &::after{
      margin-left: 10px;
      display:inline-block;
      vertical-align: middle;
      content: url('../../../assets/icons/star.svg');
      width: 20px;
    }
  }
}
