.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  &__img{
    height: 30px;
    display: block;
  }
  &__text{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
}


