.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  &__input{
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
  }
  button{
    margin-left: 7px;
  }
}
